:root {
  --orange: #ff9900;
  --yellow: #ffB84d;
  --dark-orange: #e1670e;
  --green:#97ee3f;
  --white: #fff;
  --black: #000;
  --light-gray: #cacaca;
  --bg-alt: #bbb;
  --dark-gray: #666;
  --light-green: #97EE3F;
  --gap-cards: 32px;
  }
